@page "/Projeto"
@rendermode InteractiveServer
@using TASKWAVE.WEB.Components.Layout
@layout NavMenu
@inject HttpClient Http

<div class="sidebar" style="width:270px;">
    <NavMenuOptions Options="@Options" />
</div>

<div class="m-md-5">
    <h2  class="mb-2">Meus Projetos</h2>
    <h4 class="mb-4 ">Gerenciar Projetos</h4>

    <div class="d-flex align-items-center gap-3 mt-lg-4 mb-2">
        <label style="width: 22.5%;">Nome do Projeto</label>
        <label style="width: 22.5%;">Descrição do Projeto</label>
        <label style="width: 22.5%;">Data de atribuição</label>
        <label style="width: 22.5%;">Equipe</label>
        <label class="text-center" style="width: 10%;">Editar</label>
    </div>

    @foreach (var project in projectList)
    {
        var teamName = teamListInUse.FirstOrDefault(e => e.teamId == project.teamId)?.teamName ?? "Equipe não encontrado";

        <div class="d-flex align-items-center gap-3 mb-3">
            <label class="fieldShow" style="width: 22.5%;">@project.projectName</label>
            <label class="fieldShow" style="width: 22.5%;">@project.projectDescription</label>
            <label class="fieldShow" style="width: 22.5%;">@project.projectCreationDate</label>
            <label class="fieldShow" style="width: 22.5%;">@teamName</label>
            <div style="width: 10%;" class="d-flex justify-content-center">
                <button class="btn btn-sm mt-0 d-flex justify-content-center" style="background-color:#0D1321;" @onclick="() => OpenEditModal(project)">
                    <img style="width: 20px;" src="images/Icons/Pencil.png" alt="Editar" />
                </button>
            </div>
        </div>
    }
</div>


@if (selectedProject != null)
{
    <div class="modal fade show d-block" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content text-black">
                <div class="modal-header text-white border-bottom-0 px-5" style="background-color: #0D1321">
                    <h5 class="modal-title">Editando: @selectedProject.projectName</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>

                <div class="modal-body text-white" style="background-color: #4A4A52; border: 2px solid #0D1321; padding: 2.5rem 5rem">
                    <EditForm Model="@selectedProject" OnValidSubmit="UpdateProject">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label class="mb-3" for="ProjectName">Nome do Projeto</label>
                            <InputText id="ProjectName" class="form-control text-white" style="background-color: #333339" @bind-Value="selectedProject.projectName" />
                        </div>

                        <div class="mb-3">
                            <label for="ProjectDescription">Descrição do Projeto</label>
                            <InputText id="ProjectDescription" class="form-control text-white" style="background-color: #333339" @bind-Value="selectedProject.projectDescription" />
                        </div>

                        <div class="mb-3">
                            <label for="ProjectDate">Data de Criação</label>
                            <InputDate id="ProjectDate" class="form-control text-white" style="background-color: #333339" @bind-Value="selectedProject.projectCreationDate" />
                        </div>

                        <div class="mb-3">
                            <label class="mb-3" for="ProjectTeam">Equipe</label>
                            <InputSelect id="ProjectTeam" class="form-select text-white" style="background-color: #333339" @bind-Value="selectedProject.teamId">
                                @foreach (var team in teamListInUse)
                                {
                                    <option value="@team.teamId">@team.teamName</option>
                                }
                            </InputSelect>
                        </div>

                        <div class="d-flex justify-content-center gap-5">
                            <button type="submit" class="btn btn-success rounded-pill w-25">Salvar Alterações</button>
                            @if (isAdmin)
                            {
                                <button class="btn btn-danger" @onclick="() => DeleteProject(selectedProject.projectId)">Excluir Projeto</button>
                            }
                            <button type="button" class="btn btn-secondary rounded-pill w-25" @onclick="CloseModal">Cancelar</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}


@code {

    List<HyperLink> Options = new List<HyperLink>
    {
        new HyperLink("/ProjetoCreate", "Criar Projeto", "Criar Projeto", HyperLink.TypeOfIcon.Add),
        new HyperLink("/Projeto", "Gerenciar Projetos", "Gerenciar Projetos", HyperLink.TypeOfIcon.List)
    };

    private bool isAdmin;
    private List<EquipeResponse> teamListInUse = new();
    private List<ProjetoResponse> projectList = new();
    private string mensageResponse;
    private ProjetoRequest selectedProject;

    protected override async Task OnInitializedAsync()
    {
        bool uservalid = await ApiService.SetAuthorizeHeaderAsync();
        if (!uservalid)
        {
            NavigationManager.NavigateTo("/");
        }
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAdmin = authState.User.IsInRole("ADMINISTRADOR");

        await GetAllTeams();
        await GetAllProjects();
    }


    #region CRUD
    private async Task GetAllTeams()
    {
        try
        {
            teamListInUse = await Http.GetFromJsonAsync<List<EquipeResponse>>("api/Equipe");
        }
        catch (Exception ex)
        {
            mensageResponse = $"Erro ao carregar Equipees: {ex.Message}";
        }
    }

    private async Task GetAllProjects()
    {
        try
        {
            projectList = await Http.GetFromJsonAsync<List<ProjetoResponse>>("api/Projeto");
        }
        catch (Exception ex)
        {
            mensageResponse = $"Erro ao carregar Projetos: {ex.Message}";
        }
    }


    private async Task DeleteProject(int projectId)
    {
        try
        {
            var response = await Http.DeleteAsync($"api/Projeto/{projectId}");

            if (response.IsSuccessStatusCode)
            {
                await GetAllProjects();
                CloseModal();
            }
            else
            {
                mensageResponse = "Erro ao excluir Projeto.";
            }
        }
        catch (Exception ex)
        {
            mensageResponse = $"Erro: {ex.Message}";
        }
    }

    private async Task UpdateProject()
    {
        try
        {
            var response = await Http.PutAsJsonAsync($"api/Projeto/{selectedProject.projectId}", selectedProject);
            if (response.IsSuccessStatusCode)
            {
                await GetAllProjects();
                await GetAllTeams();

                CloseModal();
            }
            else
            {
                mensageResponse = "Erro ao atualizar Projeto.";
            }
        }
        catch (Exception ex)
        {
            mensageResponse = $"Erro: {ex.Message}";
        }
    }
    #endregion


    #region Modal
    private void OpenEditModal(ProjetoResponse project)
    {
        selectedProject = new ProjetoRequest
        {
            projectId = project.projectId,
            projectName = project.projectName,
            projectDescription = project.projectDescription,
            projectCreationDate = project.projectCreationDate,
            teamId = project.teamId
        };
    }

    private void CloseModal()
    {
        selectedProject = null;
    }
    #endregion
}
