@page "/EquipeCreate"
@rendermode InteractiveServer
@using TASKWAVE.WEB.Components.Layout
@layout NavMenu
@inject HttpClient Http

<PageTitle>Criar Equipe</PageTitle>

<main>
    <div class="sidebar" style="width:270px;">
        <NavMenuOptions Options="@Options" />
    </div>

    <div class="container-flex">
        <main>
            <section>
                <div class="m-md-5">
                    <div>
                        <h2 class="text-white mb-2">Minhas Equipes</h2>
                        <h4 class=" mb-4">Criação de Equipe</h4>
                    </div>

                    <EditForm Model="@teamToCreate" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary class="text-warning" />

                        <div class="form-group mb-3">
                            <label class="mb-3">Nome da equipe</label>
                            <InputText class="form-control" @bind-Value="teamToCreate.teamName" placeholder="Insira o nome da Equipe" />
                        </div>

                        <div class="form-group mb-3">
                            <label class="mb-3">Descrição da equipe</label>
                            <InputTextArea class="form-control" @bind-Value="teamToCreate.teamDescription" placeholder="Insira a descrição da equipe" />
                        </div>

                        <div class="form-group mb-4">
                            <label class="mb-3">Setor da Equipe</label>
                            <InputSelect class="form-control" @bind-Value="teamToCreate.sectorId">
                                <option value="">Selecione o setor que a equipe pertence</option>
                                @foreach (var sector in sectorList)
                                {
                                    <option value="@sector.sectorId">@sector.sectorName</option>
                                }
                            </InputSelect>
                        </div>

                        <div class="d-flex w-100 justify-content-center">
                            <button type="submit" class="btn text-white w-25 rounded-pill" style="background-color:#748CAB;">
                                Criar Equipe
                            </button>
                        </div>
                    </EditForm>

                    @if (!string.IsNullOrEmpty(mensageResponse))
                    {
                        <div class="mt-3 alert alert-info">@mensageResponse</div>
                    }
                </div>
            </section>
        </main>
    </div>
</main>


@code {
    List<HyperLink> Options = new List<HyperLink>
    {
        new HyperLink("/EquipeCreate", "Criar Equipe", "Criar Equipe", HyperLink.TypeOfIcon.Add),
        new HyperLink("/Equipe", "Gerenciar Equipes", "Gerenciar Equipes", HyperLink.TypeOfIcon.List),
        new HyperLink("/ManageTeamProjects", "Gerenciar Projetos de equipes", "Gerenciar Projetos de equipes", HyperLink.TypeOfIcon.List),
        new HyperLink("/ManageTeamUsers", "Gerenciar Usuários de equipes", "Gerenciar Usuários de equipes", HyperLink.TypeOfIcon.List),
        new HyperLink("/ProjectToTeam", "Projetos para equipes", "Projetos para equipes", HyperLink.TypeOfIcon.Add),
        new HyperLink("/UserToTeam", "Usuários para equipes", "Usuários para equipes", HyperLink.TypeOfIcon.Add),
    };
    private List<SetorResponse> sectorList = new();
    private EquipeRequest teamToCreate = new();
    private string mensageResponse;

    protected override async Task OnInitializedAsync()
    {
        bool uservalid = await ApiService.SetAuthorizeHeaderAsync();
        if (!uservalid)
        {
            NavigationManager.NavigateTo("/");
        }
        await GetSectorsAll();
    }

    private async Task GetSectorsAll()
    {
        try
        {
            sectorList = await Http.GetFromJsonAsync<List<SetorResponse>>("api/Setor");
        }
        catch (Exception ex)
        {
            mensageResponse = $"Erro ao carregar setores: {ex.Message}";
        }
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("api/Equipe", teamToCreate);

            if (response.IsSuccessStatusCode)
            {
                mensageResponse = "Equipe criada com sucesso.";
                teamToCreate = new();
            }
            else
            {
                var error = await response.Content.ReadAsStringAsync();
                mensageResponse = $"Erro: {error}";
            }
        }
        catch (Exception ex)
        {
            mensageResponse = $"Erro na requisição: {ex.Message}";
        }
    }
}

<style>

    .container-flex {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .linha-vertical {
        width: 1px;
        height: 100vh;
        background-color: #ccc;
        position: absolute;
        top: 0;
    }

    .right-content label {
        margin-left: 1dvh;
    }

    .right-content {
        display: flex;
        padding-left: 3rem;
        flex-direction: column;
    }

    .form-control {
        background-color: #333339;
        color: #fff;
        border: 1px solid #555;
        width: 545px;
    }

        .form-control::placeholder {
            color: #aaa;
        }

    .btn-primary {
        background-color: #333339;
        border: none;
    }

        .btn-primary:hover {
            background-color: #333339;
        }
</style>